### The following are queries for a SQLite database, which can be run in either SQLite or Python

This is a generic Python function to query the SQLite database and display select data in a pandas dataframe.

In [25]:
#Import the SQLite3 library and name it 'sql'
import sqlite3 as sql
#Import the Pandas library and name it 'pd'
import pandas as pd

#Assign an SQL query to meaningful variable
#Calculate file sizes using query explained above
#'query_name' = 'SQL query'
calculate_file_sizes = "SELECT COUNT(ID) AS tif_count, MIN(SIZE) AS min_tif_size_B, MAX(SIZE) AS max_tif_size_B, MAX(SIZE)/1024/1024 AS max_tif_size_MB, AVG(SIZE)/1024/1024 AS avg_tiff_size_MB, AVG(SIZE)/1024/1024/2012/1024 AS avg_tiff_size_TB, SUM(SIZE)/1024/1024/1024/1024 AS total_tiff_size_TB FROM source_AAC_Siegfried_201908 WHERE EXT = 'tif'"
#Display the analysis_status and analysis_folder columns from the analysis_log table for all folders marked 'Complete'
folders_analysed = "SELECT analysis_status, analysis_folder FROM analysis_log WHERE analysis_status = 'Complete'"
#Display the EXTENSION_MISMATCH and FILE_PATH columns from the analysis_log table for all files marked 'True'
ext_mismatches = "SELECT EXTENSION_MISMATCH, FILE_PATH FROM source_AAC_Siegfried_201908 WHERE EXTENSION_MISMATCH = 'TRUE'" 

def run_query(query):
    #Create the connection to the database (saved as PIMMS.db)
    con = sql.connect(r'../DatabaseDesign/PIMMS.db')
    #Create the dataframe from a SQL query defined above
    df = pd.read_sql_query(query, con)
    #Print the results of the query
    print(df)
    #Close the connection to the database
    con.close()

#Run the Python function using the SQL query in the query variable assigned above
#'query_function'('query_name')
run_query(calculate_file_sizes)
run_query(folders_analysed)
run_query(ext_mismatches)

   analysis_status                                    analysis_folder
0         Complete                            AAS Storage\Korean (HT)
1         Complete                      AAS Storage\AAS Legacy Images
2         Complete            AAS Storage\AAS Reading Room catalogues
3         Complete                             AAS Storage\Adi Granth
4         Complete                       AAS Storage\Arabic (DL - CB)
5         Complete                          AAS Storage\Avestan (USW)
6         Complete              AAS Storage\Awaiting DIPS Publication
7         Complete                      AAS Storage\Chinese (SC - EG)
8         Complete           Greek MSS Digitisation\Greek MSS Phase 3
9         Complete                                             SEAsia
10        Complete                       AAS Storage\West Africa (MW)
11        Complete                     AAS Storage\Japanese (HT - YO)
12        Complete                            AAS Storage\Coptic (IT)
13        Complete                            AAS Storage\Hebrew (IT)
14        Complete        AAS Storage\Microfiches and card catalogues
15        Complete                    AAS Storage\Mongolian (SC - BQ)
16        Complete          AAS Storage\Natural history drawings (MR)
17        Complete                   AAS Storage\North India (MC-NSK)
18        Complete                    AAS Storage\Persian (USW - MIW)
19        Complete                          AAS Storage\Sanskrit (PM)
20        Complete          AAS Storage\South India (South Asia team)
21        Complete                   AAS Storage\Southeast Asia (ATG)
22        Complete                            AAS Storage\Syriac (IT)
23        Complete                           AAS Storage\Tibetan (BQ)
24        Complete                      AAS Storage\Turkish (USW-MIW)
25        Complete                 AAS Storage\Urdu (South Asia team)
26        Complete   AAS Storage\ZZZ - UNIDENTIFIED OR UNFILED THINGS
27        Complete                               Bollinger Map Images
28        Complete  DCD\Aleph collections\Asian and African Collec...
29        Complete  Digitised Content Workflow\DAR00307 - Chinese ...
..             ...                                                ...
39        Complete  Greek MSS Digitisation\Greek MSS Phase 2 Folde...
40        Complete  Greek MSS Digitisation\Greek MSS Phase 3 Folder 2
41        Complete                                 Harley Science MSS
42        Complete                            Hebrew MSS Digitisation
43        Complete                                      ILLMSS_Images
44        Complete                Legacy Digital Content\Chinese maps
45        Complete  Legacy Digital Content\DAR00279 - Jonathan Loo...
46        Complete               Legacy Digital Content\John Falconer
47        Complete                     Legacy Digital Content\or_5315
48        Complete  Legacy Digital Content\Portfolio - Katie Eagleton
49        Complete  Legacy Digital Content\World Digital Library (...
50        Complete                               Persian Digitisation
51        Complete                Photographic Studio data\from drive
52        Complete  Photographic Studio data\Sent from Boston Spa\...
53        Complete  Photographic Studio data\Sent from Boston Spa\...
54        Complete  Photographic Studio data\Sent from Boston Spa\...
55        Complete  Photographic Studio data\Sent from Boston Spa\...
56        Complete  Photographic Studio data\Sent from Boston Spa\...
57        Complete  Photographic Studio data\Sent from Boston Spa\...
58        Complete  Photographic Studio data\Sent from Boston Spa\...
59        Complete  Photographic Studio data\Sent from Boston Spa\...
60        Complete  Photographic Studio data\Sent from Boston Spa\...
61        Complete  Photographic Studio data\Sent from Boston Spa\...
62        Complete  Photographic Studio data\Sent from Boston Spa\...
63        Complete  Photographic Studio data\Sent from Boston Spa\...
64        Complete  Photographic Studio data\The Winchester Manusc...
65        Complete       Photographic Studio data\Z Safe digitisation
66        Complete  Royal Digitisation Project\Royal Digitisation ...
67        Complete  Royal Digitisation Project\Royal Digitisation ...
68        Complete                                    Singapore-Malay

[69 rows x 2 columns]
   EXTENSION_MISMATCH                                          FILE_PATH
0                TRUE  \\P8L-NAS2\Singapore-Malay\Finished Manuscript...
1                TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
2                TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
3                TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
4                TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
5                TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
6                TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
7                TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
8                TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
9                TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
10               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
11               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
12               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
13               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
14               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
15               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
16               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
17               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
18               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
19               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
20               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
21               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
22               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
23               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
24               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
25               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
26               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
27               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
28               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
29               TRUE  \\P8L-NAS2\AAS Storage\Sanskrit (PM)\IOL Sansk...
..                ...                                                ...
67               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
68               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
69               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
70               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
71               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
72               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
73               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
74               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
75               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
76               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
77               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
78               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
79               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
80               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
81               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
82               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
83               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
84               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
85               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
86               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
87               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
88               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
89               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
90               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
91               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
92               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
93               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
94               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
95               TRUE  \\P8L-NAS2\AAS Storage\Urdu (South Asia team)\...
96               TRUE  \\P8L-NAS2\AAS Storage\Mongolian (SC - BQ)\Ori...

[97 rows x 2 columns]
                                         folder_path  system_num  shelfmark  \
0  AAS Storage\Korean (HT)\NLK Project\15026_d_3\...    17852506  15026.d.3
1  AAS Storage\Korean (HT)\NLK Project\15212_e_8\...    17846046  15212.e.8

  pub_place                                              title date_end  \
0     Korea       880-02 Pǒnyǒk myŏngǔijip / Pobun p'yŏn.     None
1     Korea  880-02 Samgo illam myǒngsǒ sangnon / Pang Ky...     None

  date_range date_start author author_dates  \
0       None       None   None         None
1       None       None   None         None

                             extent_format
0  7 volumes in 1 : 1 illustration ; 33 cm
1                   3 volumes in 1 ; 32 cm

This is a query to run calculations of file sizes for storage planning and analysis, to be run directly in SQLite. References: https://www.w3schools.com/sql/sql_count_avg_sum.asp and https://www.techspot.com/news/68482-quickly-convert-between-storage-size-units-kb-mb.html

In [ ]:
SELECT 
	COUNT(ID) AS tif_count,
	MIN(SIZE) AS min_tif_size_B,
	MAX(SIZE) AS max_tif_size_B,
	MAX(SIZE)/1024/1024 AS max_tif_size_MB,
	AVG(SIZE)/1024/1024 AS avg_tiff_size_MB,
	AVG(SIZE)/1024/1024/2012/1024 AS avg_tiff_size_TB,
	SUM(SIZE)/1024/1024/1024/1024 AS total_tiff_size_TB
FROM source_AAC_Siegfried_201908
WHERE EXT = 'tif';

### The following are SQL queries to join multiple tables based on matching or related elements. They can be run directly in DB Browser for SQLite and exported as csv or saved as 'views'.

This is a SQLite query to join columns from two tables in the database based on common fields. Reference: https://www.sqlitetutorial.net/sqlite-inner-join/.

In [ ]:
SELECT 'source_AMEMM_SelfAnalysis'.ms_shelfmark, 'source_AMEMM_SelfAnalysis'.pro_title, 'source_AMEMM_SelfAnalysis'.ms_location, 'source_AMEMM_SelfAnalysis'.pro_details,  source_AMEMM_IAMS.*
FROM 'source_AMEMM_SelfAnalysis'
INNER JOIN source_AMEMM_IAMS ON 'source_AMEMM_SelfAnalysis'.ms_shelfmark = source_AMEMM_IAMS.'Record reference'
WHERE source_AMEMM_IAMS.Languages = 'French';

This is a SQL query to join columns from three source tables in the database based on common fields. Reference: https://stackoverflow.com/questions/3492904/mysql-select-all-columns-from-one-table-and-some-from-another-table.

In [ ]:
SELECT 'ingest_Royal I Finished combined'.*, source_AMEMM_HMDAnalysis.*
FROM 'ingest_Royal I Finished combined'
INNER JOIN source_AMEMM_HMDAnalysis ON 'ingest_Royal I Finished combined'.shelfmark = source_AMEMM_HMDAnalysis.shelfmark;

This is a SQLite query to join columns from three target tables in the database, which have had their data normalised.

In [ ]:
SELECT folder_history.folder_path AS 'folderpath', items_aleph.*
FROM items_aleph
INNER JOIN folder_history ON folder_history.folder_id = folders_items.folder_id
INNER JOIN folders_items ON folders_items.system_num = items_aleph.system_num;

### The following are SQL and Python scripts to copy select data from source tables into target tables

This is a SQLite query to select data from the source tables and copy it into correct columns of the associated target tables. Reference: https://www.w3schools.com/sql/sql_insert_into_select.asp

In [ ]:
#Insert data into each of the columns of the target table (twitter_analytics)
INSERT INTO twitter_analytics (permalink, tweet_text, impressions, engagment_rate, replies, retweets, likes, link_clicks)
#Select the data from each of the columns from the corresponding source table (source_Twitter_Analytics)
SELECT "Tweet permalink", "Tweet text", "impressions", "engagement rate", "replies", "retweets", "likes", "url clicks" 
FROM source_Twitter_Analytics 
#Add a constraint to the selected data (the number of URL clicks is higher than 50)
WHERE "url clicks" > 50;